<div id="bl-main" class="bl-main">
  <%= partial 'layouts/about' %>
  <%= partial 'layouts/work' %>
  <%= partial 'layouts/blog' %>
  <%= partial 'layouts/contact' %>
  <!-- Panel items for the works -->
  <%= partial 'layouts/panel' %>
</div>
